# Local Terraform folder
.terraform/
.terraform.lock.hcl

# State files (contain sensitive data)
*.tfstate
*.tfstate.*
*.tfvars

# Crash logs
crash.log
crash.*.log

# Sensitive variables
*.tfvars
*.tfvars.json

# SSH keys
id_rsa
id_rsa.pub
